header {
    padding: 25px 0 15px;
}

h1 {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    float: none;
}

nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}

nav>ul>li {
    float: none;
    list-style: none;
    display: inline-block;
}

.drop li {
    text-align: left;
}

@media only screen and (min-width: 825px) and (max-width: 859px) {
    .list li>p {
        font-size: 40px;
        line-height: 49px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 824px) {
    .list li>p {
        font-size: 38px;
        line-height: 47px;
    }
}

@media only screen and (min-width: 755px) and (max-width: 789px) {
    .list li>p {
        font-size: 36px;
        line-height: 45px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 754px) {
    .list li>p {
        font-size: 34px;
        line-height: 43px;
    }
}

@media only screen and (min-width: 685px) and (max-width: 719px) {
    .list li>p {
        font-size: 32px;
        line-height: 41px;
    }
}

@media only screen and (max-width: 681px) {
    .list li>p {
        font-size: 30px;
        line-height: 39px;
    }
}

.feature-block {
    padding: 20px 0 11px;
    width: 46%;
    overflow: hidden;
    float: left;
    margin: 0 2%;
}

.feature-block p {
    min-height: 80px;
}

.jcarousel-wrapper h2 {
    background: url(../img/coursor.png) no-repeat 0.7% 50%;
}

.jcarousel-control-prev {
    right: 35px;
}

.jcarousel-control-next {
    right: 5px;
}

.jcarousel li {
    margin-right: 30px;
}

.testimonials {
    width: 90%;
    margin: 20px 5%;
}

.testimonials blockquote {
    padding-right: 0;
}

.testimonials blockquote span {
    float: right;
}

.clients {
    width: 90%;
    margin: 0 5% 30px;
}

.logo-box {
    max-width: none;
    margin: 0 auto;
}

.download {
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
}

.download span {
    width: 90%;
    margin: 0 0 20px;
    text-align: justify;
}

.footer-box.first {
    width: 53%;
    margin-right: 5%;
    margin-left: 2%;
}

.footer-box.second {
    width: 15%;
    margin-right: 5%;
}

.footer-box.third {
    width: 15%;
    margin-right: 5%;
}

.footer-box.fourth {
    margin: 30px 2% 0;
    width: 40%;
}

.social-box a {
    margin-left: 1%;
}

.social-box a:first-child {
    margin-left: 0;
}

.footer-box>span:nth-of-type(1) {
    float: left;
    margin-right: 20px;
}

.footer-box.fifth {
    float: left;
    margin: 30px 2% 0;
    width: 52%;
}

.footer-bottom {
    margin-top: 0;
    text-align: center;
}

.footer-bottom .logo {
    display: block;
    margin-bottom: 20px;
    float: none;
}

.footer-bottom>span {
    width: 96%;
    display: inline-block;
    float: none;
}


.p-gallery li:hover .drop-up a,
.jcarousel li:hover .drop-up a {
    margin: 45px 10px 0;
}

@media screen and (max-width: 840px) {
    .p-gallery li {
        margin-left: 1%;
        width: 46%;
        margin-right: 30px;
    }
    .p-gallery li:nth-child(2n) {
        margin-right: 1%;
    }
    .tabs label:first-of-type {
        margin-left: 1%;
    }
    .portfolio-gallery h2 {
        margin-left: 1%;
    }
    .tabs label {
        padding: 10px 13px 9px;
    }
}